<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- modify by  ryb  不要使用多个ResultMap   一个文件里面最好就只用一个-->
<mapper namespace="com.yy.yyt.appfunction.entity.YytAppFunction">

    <resultMap type="YytAppFunction" id="appFunctionMap">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
         <result column="NAME" property="name" jdbcType="VARCHAR" />
         <result column="SUB_NAME" property="subName" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="BUSIS_TYPE" property="busisType" jdbcType="VARCHAR" />
        <result column="CONTROLLER_TYPE" property="controllerType" jdbcType="VARCHAR" />
        <result column="CONTROLLER_URL" property="controllerUrl" jdbcType="VARCHAR" />
        <result column="PARENT_MODULE" property="parentModule" jdbcType="VARCHAR" />
        <result column="WEIGHT" property="weight" jdbcType="INTEGER" />
        <result column="IS_SHOW" property="isShow" jdbcType="VARCHAR" />
        
         <result column="LOGO_URL" property="logoUrl" jdbcType="VARCHAR" />
        
        <result column="CP" property="cp" jdbcType="VARCHAR" />
	    <result column="CT" property="ct" jdbcType="TIMESTAMP" />
	    <result column="EP" property="ep" jdbcType="VARCHAR" />
	    <result column="ET" property="et" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <select id="findAll"  resultMap="appFunctionMap">
		select * from SYS_APP_FUNCTION t 
		 where t.IS_SHOW=1 order by t.WEIGHT desc
	</select>
	
	<select id="findById" parameterType="string" resultMap="appFunctionMap">
		select * from SYS_APP_FUNCTION where ID=#{id}
	</select>
	

    <select id="findByParentModule" resultMap="appFunctionMap">
		select * from SYS_APP_FUNCTION t where t.PARENT_MODULE=#{parentModule} and t.IS_SHOW=1
		order by t.WEIGHT desc
	</select>

	<select id="findByName" parameterType="string" resultMap="appFunctionMap">
		select * from SYS_APP_FUNCTION where NAME=#{name}
	</select>
	
	<select id="findByCode" parameterType="string" resultMap="appFunctionMap">
		select * from SYS_APP_FUNCTION where CODE=#{code}
	</select>
	
	<select id="findByWeight" parameterType="string" resultMap="appFunctionMap">
		select * from SYS_APP_FUNCTION where WEIGHT=#{weight}
	</select>
	

</mapper>